* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    padding: 0px 20px;
    gap: 5%;
}

.checkbox {
    display: none;
}

ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: #0D0D0F;
}

.checkbox {
    display: none;
}

.nav-menu {
    background-color: white;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 65vw;
    padding: 20px;
    z-index: 5;
}

.nav-menu li:first-child {
    padding: 20px 0px 40px 0px;
}

.logo {
    margin-right: auto;
}

#check-box:checked~.nav-menu {
    display: block;
}

#check-box:checked~.close {
    display: none;
}

.image-con {
    position: relative;
    width: 100%;
}

.previous,
.next {
    background-color: white;
    border-radius: 50%;
    width: 8%;
    object-fit: none;
    height: 38px;
    width: 35px;
    cursor: pointer;
}

.previous:hover,
.next:hover {
    color: #FF7D1B;
}

.btn {
    position: absolute;
    top: 50%;
    padding: 0px 3%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    width: 100%;
}

.slider {
    height: 45vh;
    width: 100%;
    overflow: hidden;
}

.images {
    height: 100%;
    width: 100%;
    /* max-width: 400%; */
    display: flex;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    flex-shrink: 0;
}

.con {
    height: auto;
    padding: 0px 30px;
    margin-bottom: 5vh;

}

.con h4 {
    padding: 30px 0px 10px 0px;
    color: #727479;
}

.con h1 {
    padding: 10px 0px;
}

.con p {
    padding: 10px 0px;
    color: #727479;
    line-height: 25px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    height: 6%;
    gap: 3%;
}

.price span {
    background-color: black;
    color: white;
    border-radius: 5px;
    font-weight: lighter;
    font-size: small;
    padding: 3px;
}

.price h3 {
    text-decoration: line-through;
    color: #727479;
}

.range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F7F8FD;
    padding: 10px 15px;
    border-radius: 10px;
    height: 6vh;
    cursor: pointer;
}

.addtocart,
button {
    width: 100%;
    margin-top: 20px;
    background-color: #FF7D1B;
    border-radius: 10px;
    color: black;
    height: 6vh;
    border: none;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.cart_empty,
.cart_add {
    background-color: #FFFFFF;
    height: 35%;
    width: 95%;
    position: absolute;
    top: 11%;
    margin: 0px 2.5%;
    z-index: 4;
    border-radius: 15px;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);

}

.hide {
    display: none;
}

.cart {
    padding: 25px 0px 30px 25px;
    border-bottom: 1px outset #FFFFFF;
    height: 10vh;
    color: #090A0C;
}

.cart_empty h3 {
    text-align: center;
    margin-top: 23%;
    color: #717277;

}

.cart_add {
    background-color: #FFFFFF;
}

.add_01 {
    display: flex;
    justify-content: space-between;
    padding: 5%;
    gap: 5%;
}

.section {
    margin-right: auto;
}

.checkout {
    width: 90%;
    margin: 0px 5%;
}

.add_01 img {
    height: 10vh;
    width: 23%;
    border-radius: 10px;
}

.add_01 h4,
h5 {
    color: #96989C;
}

.cart_logo {
    position: relative;
    cursor: pointer;
}

.image-avatar {
    cursor: pointer;
}

.image-avatar:hover {
    border: 5px outset #FF7D1B;
    border-radius: 50%;
}

.range_add {
    position: absolute;
    top: -12px;
    right: -6px;
    background-color: #FF7D1B;
    width: 100%;
    text-align: center;
    height: 17px;
    border-radius: 8px;
    display: none;
    color: white;
}

.delete {
    margin-top: 7%;
    cursor: pointer;
}

.section h4,
h5,
.number,
.result {
    font-size: 16px;
}

.result {
    padding-left: 15px;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "YOPQ" 300;

}

p {
    font-size: 16px;
}

.img-thumbnail {
    display: none;
}

@media screen and (min-width : 1024px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .main_container {
        width: 80%;
        box-shadow: 13px 20px 5px 0px rgba(0, 0, 0, 0.5);
        height: 80%;
        position: relative;
    }

    .nav_toggle {
        display: none;
    }

    .logo {
        width: auto;
        margin-right: 0;
    }

    .nav-menu {

        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 100%;
        width: 35%;
        padding: 0%;
        z-index: 0;
        margin-right: auto;
    }

    .nav {
        border-bottom: outset;
        justify-content: space-between;
        gap: 4%;

    }

    .nav-menu li:hover {
        border-bottom: 5px outset #FF7D1B;
        transition: 0.5 ease;
        height: 100%;
        padding: 10% 0%;
    }

    .image-avatar {
        width: 4%;
        height: 50%;

    }



    .main_container1 {
        display: flex;
        height: 70vh;
        padding: 5% 0%;
        justify-content: space-around;
    }

    .image-con {
        width: 30%;
        height: 45vh;

    }

    .con {
        width: 60%;
        margin: 0;
        padding: 0;

    }

    .con h4 {
        padding: 0px;

    }

    .slider {
        height: 45vh;
        width: 100%;
        border-radius: 15px;

    }

    .price {
        flex-direction: column;
        align-items: baseline;
        height: 20%;
        justify-content: center;
    }

    /* .price h2, 
    .price h3{
        padding: 10px 0px;
    } */
    .range {
        width: 35%;
        height: 15%;
        float: left;
        margin-top: 5%;
    }

    .addtocart {
        width: 55%;
        height: 15%;
        margin: 5% 0 0 5%;
    }

    .con h1 {

        width: 70%;
    }

    .img-thumbnail {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 5% 0;

    }

    .img-thumbnail img {
        height: 10%;
        width: 20%;
        border-radius: 10px;
        cursor: pointer;
    }

    .img-thumbnail img:hover {
        border: 3px outset #FF7D1B;
        opacity: 0.5;
        filter: brightness(150%) saturate(100%) invert(0%);
    }

    .previous,
    .next {
        height: 32px;
        width: 28px;
    }

    /* .images img {
        display: none;   
    } */
    .images {
        width: 100%;
    }

    /* .images img:first-child {
        display: block;
    } */
    .cart_empty,
    .cart_add {

        height: 45%;
        width: 40%;
        right: 0;
        top: 11%;
        margin: 0px;
    }

    .cart {
        padding: 20px;
        height: 30%;
    }

    .cart_empty h3 {
        margin-top: 17%;
    }

    .add_01 {
        height: 40%;
    }

    .add_01 img {
        height: 100%;
        width: 20%;
    }

    .checkout {
        height: 18%;
    }
}

@media screen and (min-width : 1440px) {
    .image-con {
        width: 35%;
    }

    .con {
        width: 50%;
        margin-top: 4%;
    }

    .addtocart {
        width: 60%;
        height: 12%;

    }

    .range {
        width: 30%;
        height: 12%;
    }

    .checkout {
        height: 15%;
    }

    .add_01 {
        height: 40%;
    }

    .add_01 img {
        width: 15%;
        height: 100%;
    }

    .delete {
        margin-top: 5%;
    }

    .cart_empty,
    .cart_add {
        height: 35%;
        width: 35%;
    }
}